/* AddEditInstructor.css */

.add-edit-instructor-container {
    margin-top: 20px;
    margin-left: 90vh;
  }
  
  .add-edit-instructor-container h2 {
    margin-bottom: 10px;
  }
  
  .add-edit-instructor-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-edit-instructor-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-edit-instructor-container .button-container {
    margin-top: 20px;
  }
  
  .add-edit-instructor-container button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-edit-instructor-container button:hover {
    background-color: #f0f0f0;
  }
  