.add-edit-payment-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .add-edit-payment-container form {
    display: flex;
    flex-direction: column;
  }
  
  .add-edit-payment-container label {
    margin-top: 10px;
  }
  
  .add-edit-payment-container input,
  .add-edit-payment-container select,
  .add-edit-payment-container textarea {
    padding: 10px;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  