.student-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width:200vh;
  }
  
  .student-form h2 {
    margin-bottom: 20px;
  }
  
  .student-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .student-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .student-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .student-form button:hover {
    background-color: #3e8e41;
  }
  